@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

* {
    font-family: 'Fira Mono', monospace;
}

.bg-black {
    background-color: black;
}

.text-green {
    color: rgb(0, 255, 0);
}

.px-2 {
    padding-right: 2rem;
    padding-left: 2rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.min-h-screen {
    min-height: 100vh;
}

.w-full {
    width: 100%;
}

.font-base {
    font-size: 16px;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.input {
    margin-left: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 0);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 220, 0);
}
a{
    text-decoration: solid rgb(0, 255, 0) underline;
}